---

# Install standalone Chef Server
# https://docs.chef.io/install_server.html#standalone

- hosts: all
  become: yes
  gather_facts: yes
  remote_user: vagrant

  tasks:

    - name: include global vars
      include_vars:
        file: config.yml

    - name: Run common tasks
      include_tasks: chef_common.yml

    - name: download chef-server-core RPM
      get_url:
        url: "https://packages.chef.io/files/stable/chef-server/{{ chef_server_version }}/el/{{ ansible_distribution_major_version }}/chef-server-core-{{ chef_server_version }}-1.el7.x86_64.rpm"
        dest: "/tmp/chef-server-core-{{ chef_server_version }}-1.el7.x86_64.rpm"

    - name: install chef-server-core RPM
      yum:
        name: "/tmp/chef-server-core-{{ chef_server_version }}-1.el7.x86_64.rpm"
        state: present

    - name: install expect RPM for unbuffer command
      yum:
        name: expect

    - debug:
        msg: Upcoming long-running chef-server reconfigure. Monitor at /tmp/chef-server-reconfig.log
    - name: chef-server-ctl reconfigure
      # unbuffer (from expect package) needed to prevent chef from
      # clobbering stdout due to redirection
      shell: unbuffer chef-server-ctl reconfigure > /tmp/chef-server-reconfig.log

    - name: lookup existing chef server users
      command: chef-server-ctl user-list
      register: chef_user_list
      changed_when: false

    - name: lookup existing chef server organizations
      command: chef-server-ctl org-list
      register: chef_org_list
      changed_when: false

    - name: delete existing chef server org
      command: "chef-server-ctl org-delete --yes {{ chef_server_organization_shortname }}"
      when: chef_server_recreate_existing_users and chef_server_organization_shortname in chef_org_list.stdout_lines
      register: deleted_organization

    - name: delete existing chef server admin user
      command: "chef-server-ctl user-delete --yes --remove-from-admin-groups {{ chef_server_admin_username }}"
      when: chef_server_recreate_existing_users and chef_server_admin_username in chef_user_list.stdout_lines
      register: deleted_admin_user

    - name: chef-server-ctl user-create
      command: "chef-server-ctl user-create  {{ chef_server_admin_username }}  {{ chef_server_admin_firstname }}  {{ chef_server_admin_lastname }}  {{ chef_server_admin_email }} '{{ chef_server_admin_password }}' --filename {{ vagrant_shared_dir }}/{{ chef_server_admin_private_key }}"
      when: deleted_admin_user.changed or chef_server_admin_username not in chef_user_list.stdout_lines

    - name: chef-server-ctl org-create
      command: "chef-server-ctl org-create {{ chef_server_organization_shortname }} '{{ chef_server_organization_name }}' --association_user {{ chef_server_admin_username }} --filename {{ vagrant_shared_dir }}/{{ chef_server_validator_private_key }}"
      when: deleted_organization.changed or chef_server_organization_shortname not in chef_org_list.stdout_lines

    - template:
        src: knife.rb.j2
        dest: /vagrant/scratch/knife.rb
